.card {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card__content {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__bio {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    transform: rotateY(180deg);
    border-radius: 20px; /* Added for rounded corners */
    background-size: cover;
    background-position: center;
}

.card > h3 {
    position: absolute;
    bottom: 10px;
    color: white;
}

.tinderCards__cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe{
    position: absolute;
}

.card__front {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px; /* Added for rounded corners */
}

